aiohttp
fastapi
loguru
pydantic
pyvts
setuptools
uvicorn
ruff
requests
websockets
python-logging-loki
typer
aiohttp
edge-tts
mss
numpy
openai
Pillow
pyvts
sounddevice
soundfile
toml # For Python < 3.11 compatibility with TOML files
torch # For VAD in STT plugin 
tomli
torchaudio
